@import '../../../styles/variables.scss';
@font-face {
    font-family: 'SF-Pro-Display';
    src: local('SF-Pro-Display'), url('../../../assets/font/SF-Pro-Display.ttf') format('truetype');
  }

.imgLoading{
    position: absolute;
    left: 0%;
    right: 75.26%;
}